.headOwnTaskStatus {
  border: 1px solid #eee;
  width: 1100px;
  box-sizing: border-box;
  padding: 45px 125px;
  position: relative;
  height: 240px;
}
.headOwnTaskStatus .ownStateEcharts {
  float: left;
  width: 240px;
  height: 240px;
  position: relative;
  margin-top: -50px;
}
.headOwnTaskStatus .hr {
  width: 2px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: 1px;
  height: 100%;
  display: flex;
  align-items: center;
}
.headOwnTaskStatus .hr div {
  width: 2px;
  height: 130px;
  background-color: #e4e4e4;
}
.headOwnTaskStatus .ownStateTable {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}
.headOwnTaskStatus .ownStateTable .tableItem {
  margin-top: 34px;
}
.headOwnTaskStatus .ownStateTable .tableItem:nth-of-type(1) {
  margin-top: 0px;
}
.headOwnTaskStatus .ownStateTable .tableItem .tableItemLine {
  display: flex;
  align-items: center;
  float: left;
}
.headOwnTaskStatus .ownStateTable .tableItem .tableItemLine:nth-child(1) {
  width: 200px;
}
.headOwnTaskStatus .ownStateTable .tableItem .tableItemLine .icon {
  width: 10px;
  height: 10px;
  background-color: #f97600;
  float: left;
}
.headOwnTaskStatus .ownStateTable .tableItem .tableItemLine .word {
  float: left;
  margin-left: 10px;
}
.headOwnTaskStatus .ownStateTable .tableItem .tableItemLine .word .state {
  margin-left: 10px;
  font-weight: bold;
}
