<div class="footerBg">
  <div class="footer clear">
    <div class="left"><img src="/assets/images/foot_logo.png" alt=""></div>
    <div class="center clear">
      <div class="center_left">
        <a [routerLink]="['/about']">关于我们</a>
        <a [routerLink]="['/team']">核心团队</a>
        <a [routerLink]="['/freeman_hot']">智库热点</a>
      </div>
      <div class="center_left center_right">
        <a [routerLink]="['/development']">发展历程</a>
        <a target="_blank" href="https://baidu.com" rel="noopener noreferrer">帮助中心</a>
        <a [routerLink]="['/recruitment']">招贤纳士</a>
      </div>
    </div>
    <div class="right clear">
      <div class="right_item"><img src="/assets/images/wx.png" alt="官方微信号">
        <p>官方微信号</p></div>
      <div class="right_item"><img src="/assets/images/xcxcode.jpg" alt="三点一刻小程序">
        <p>三点一刻小程序</p></div>
      <div class="right_item"><img src="/assets/images/appDownload.png" alt="APP下载">
        <p>APP下载</p></div>
    </div>
    <p class="clear textAlign">2015-2018 北京三点一刻科技有限公司 版权所有 京ICP备：15064808号-1</p></div>
</div>
