.ownProjectList {
  width: 100%;
  padding-top: 36px;
}
.ownProjectList .projectSearch {
  width: 100%;
}
.ownProjectList .projectSearch .searchTab {
  border-bottom: 1px solid #f0f0f0;
  height: 27px;
}
.ownProjectList .projectSearch .searchTab .tabItem {
  position: relative;
  bottom: 0px;
  border-bottom: 1px solid #ff5455;
  padding-bottom: 6px;
  line-height: 20px;
  font-size: 16px;
}
.ownProjectList .projectSearch .searchBox {
  padding: 40px 0 18px;
  border-bottom: 1px solid #f0f0f0;
}
.ownProjectList .projectSearch .searchBox .searchDemandTitle {
  float: left;
}
.ownProjectList .projectSearch .searchBox .searchDemandTitle .tit {
  font-size: 15px;
  line-height: 40px;
  color: #333;
  float: left;
  margin-right: 10px;
}
.ownProjectList .projectSearch .searchBox .searchDemandTitle .demandTitleInput {
  width: 250px;
  float: left;
}
.ownProjectList .projectSearch .searchBox .demandSort {
  float: right;
}
.ownProjectList .projectSearch .searchBox .demandSort .sortIcon {
  float: right;
  line-height: 40px;
  font-size: 22px;
  transform: rotate(90deg);
  cursor: pointer;
}
.ownProjectList .projectSearch .searchBox .demandSort .sortWord {
  float: right;
  margin-right: 20px;
  font-size: 16px;
  line-height: 40px;
}
.projectPage{
  padding:40px;text-align:right;
}
.ownProjectIsNull{
  text-align:center;line-height:400px;font-size:30px;padding-bottom:80px;
}
